/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

html{
  background: url("neon.jpg") fixed;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: auto;
  width: 60%;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  color: #333333;
  background: white;
}

h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  font-variant: small-caps;
}

ul { 
  padding-left: 10;
}

a {
  color: #333333;
}

.wrapper {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.left-col {
  margin: 10px 0 10px;
  width: 25%;
  background: rgb(245, 245, 245);
  padding: 20px;
  margin-bottom: 0;
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
}

.menu-list li a {
  font-size: 16px;
  text-decoration: none;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: 333333;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #fff;
  color: 333333;
}

.right-col {
  /* Take the remaining width */
  flex-grow: 1;
  margin: 20px;
  padding: 20px;
}

.divider {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.about {
  list-style-type: circle;
  padding: 20px;
}

footer {
  margin-top: 0;
  background: rgb(247, 247, 247);
  background: linear-gradient(90deg, rgb(245, 245, 245) 29%, rgb(186, 187, 187) 92%, rgb(172, 172, 175) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}