html{
  background: url("neon.jpg") fixed;
}

* {
  box-sizing: border-box;
}
body {
  margin: auto;
  width: 60%;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  color: #333333;
  background: white;
}

h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  font-variant: small-caps;
}

ul { 
  padding-left: 10;
}

a {
  color: #333333;
}

.wrapper {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.left-col {
  margin: 10px 0 10px;
  width: 25%;
  background: rgb(245, 245, 245);
  padding: 20px;
  margin-bottom: 0;
}

.right-col {
  /* Take the remaining width */
  flex-grow: 1;
  margin: 20px;
  padding: 20px;
}

.divider {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  text-transform: uppercase;
}

footer {
  margin-top: 0;
  background: rgb(247, 247, 247);
  background: linear-gradient(90deg, rgb(245, 245, 245) 29%, rgb(186, 187, 187) 92%, rgb(172, 172, 175) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}