.container-centered {
  margin: auto;
  display: inline-block;
}

.column {
    float: left;
    width: 33%;
  }
  
  /* Clear floats after the columns */
  .footer:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }